* {
  box-sizing: border-box;
}
.title {
  font-size: 1.6em;
  color: white;
  margin: 35px 0;
  margin-bottom: 12px;
  font-weight: bolder;
  font-family: sans-serif;
}

.imagesfromtable {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}

.imagesfromtable::-webkit-scrollbar {
  /* supprimer le scrollbar */
  display: none;
}

.imagesfromtable img {
  object-fit: cover;
  height: 170px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease-in-out 0.9s;
}

.imagesfromtable img:hover {
  height: 230px;
}

.imagesfromtable :not(:last-child) {
  margin-right: 17px;
}
