* {
  margin: 0;
  padding: 0;
}
.header {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container1 {
  background-color: black;
  width: 95%;
}
.header img {
  width: 200px;
  border-radius: 15px;
  object-fit: cover;
}
