.App {
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.all {
  background-color: black;
  width: 93%;
  height: 100%;
}
